body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.carousel-slides {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(96, 0, 0, 0);
  width: 500%;
  height: 300px;
  z-index: 0;
  transition: 500ms;
  left: 0;
}

.carousel-frame {
  position: relative;
  background-color: white;
  width: 400px;
  height: 300px;
  overflow: hidden;
}

.carousel-img-wrapper {
  width: 100%;
  padding: 20px;
}

.carousel-img {
  width: 100%;
}

.carousel-btn {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: rgb(0, 0, 0);
  text-shadow: 0 0 5px #ffffff;
  font-size: 3em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  transition: 300ms;
  z-index: 1;
}

.carousel-btn:hover {
  text-shadow: 0 0 8px #000000;
  color: rgb(255, 255, 255);
}

.carousel-left-btn {
  left: -7px;
}

.carousel-right-btn {
  right: -7px;
}

.carousel-nav-dots {
  position: absolute;
  display: flex;
  bottom: 20px;
  right: 50%;
  transform: translateX(50%);
}

.nav-dot {
  background: none;
  border: none;
  cursor: pointer;
  text-shadow: 0 0 8px #ffffff;
  transition: 500ms;
}

.nav-dot:hover {
  text-shadow: 0 0 8px #000000;
}